{% extends 'base.html' %} {% block titulo %}{{producto.id}}:
{{producto.nombre}}{% endblock %} {% block contenido %}
<div class="product-container">
  <table align="center">
    <tr>
      <td>
        <img
          src="{{url_for('static', filename= 'fotos/')}}{{producto.id}}.jpg"
          width="200px"
          
        />
      </td>
      <td class="producto-info">
        <h2>{{producto.categoria}} - {{producto.marca}}</h2>
        <h1>{{producto.nombre}}</h1>
        <h2>{{ "{:,}".format(producto.precio) }}</h2>
      </td>
    </tr>
    <tr>
      <td>
        <a href="{{ url_for('ruta_raiz') }}"><button class="Inicio">Inicion</button></a>
      </td>
    </tr>
  </table>
</div>

{% endblock %}
